################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/theDeadlines.DAL/bin/Debug/net8.0
/theDeadlines.Abstraction/obj/Debug/net8.0
/theDeadlines.API/bin/Debug/net8.0
/theDeadlines.API/obj/Debug/net8.0
/theDeadlines.BLL/obj/Debug/net8.0
/theDeadlines.DAL/obj/Debug/net8.0
